@use 'vars';

.container-editor{
    width: 100%;
    min-height: 250px;
    display: block;
}
.bar-editor{
    background-color: vars.$blue-600;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border: 1px solid vars.$black;
}
.left-bar{
    display: flex;
    color: vars.$white;
    gap: 8px;
}
.right-image{
    cursor: pointer;
}
#editor{
    width: 100%;
    resize: none;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    outline: none;
    padding: 5px;
    border: 1px solid vars.$black;
    box-sizing: border-box;
    background-color: rgb(234, 234, 231);
}
@media (max-width: 1000px){
    .container-editor{
        width: 70%;
    }
    #editor{
        min-height: 250px;
    }
}
@media (max-width: 800px){
    .container-editor{
        width: 80%;
    }
}
@media (max-width: 650px){
    .container-editor{
        width: 100%;
    }
}