@use 'vars';

.container-navbar{
    background-color: vars.$black;
    padding: 18px 25px;
    font-weight: bold;
    font-size: 20px;
    color: vars.$white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-title{
    display: flex;
    align-items: center;
    gap: 10px;
}
.container-title span , .container-links span{
    width: 20px;
    height: 20px;
}
.container-links{
    display: flex;
    align-items: center;
    gap: 15px;
}
@media (max-width:400px){
    .container-title div{
        display: none;
    }
    .container-title span img, .container-title span{
        width: 25px;
        height: 25px;
    }
    .container-navbar{
        padding: 18px 10px
    }
}