@use 'vars';

.container-previewer{
    width: 50%;
    min-height: 250px;
}
.bar-previewer{
    background-color: vars.$blue-600;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border: 1px solid vars.$black;
}
#preview{
    height: calc(100% - 38px);
    background-color: vars.$white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    outline: none;
    padding: 5px;
    border: 1px solid vars.$black;
    overflow: scroll;
    box-sizing: border-box;
}