@use 'vars';

.container-previewer{
    width: 100%;
    display: block;
}
.bar-previewer{
    background-color: vars.$blue-600;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border: 1px solid vars.$black;
}
.left-bar{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.left-bar > div{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#preview{
    height: calc(100% - 38px);
    background-color: vars.$white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    outline: none;
    padding:  0 5px;
    border: 1px solid vars.$black;
    overflow: auto;
    box-sizing: border-box;
    background-color: rgb(234, 234, 231);
    white-space: pre-line;
}
#preview img{
    max-width: 100%;
}
#preview ul, #preview ol{
    white-space: nowrap;
    margin: 0;
    padding-left: 30px;
}
@media (max-width:1000px){
    .container-previewer{
        width: 100%;
    }
    #preview{
        min-height: 200px;
    }
}